script.

    var options = {};

    var dev = true;

    var urls = {
        logins: '/api/logins'
    }

    var bookmakers = {

        'wh': {
            'uname': '',
            'pw': ''
        },

        'lb': {
            'uname': '',
            'pw': '',
            'prelogin': '#login'
        }
    }
